/* header */
.header-container {

    background-image: url('images/banner/banner2.png');
    background-repeat: no-repeat;
    padding: 216px 230px 365px 845px;

}

.header-title {
    max-width: 525px;
    max-height: 228px;
    color: #151414;
    text-align: right;
    font-family: "Work Sans";
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}

.header-des {

    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;

    max-width: 495px;
    max-height: 78px;
    margin-top: 24px;
}

.header-btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    border: none;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;

}

.header-btn-group {
    text-align: right;
}

main {
    width: 1140px;
    margin: 0 auto;
}

/* person */
.person-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person-title {
    width: 288px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;

}

.person-des {
    width: 416px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
}

.person-ul {
    text-align: left;
    padding-left: 20px;
}

.person-info-link {
    color: #444343;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* plan */
.plan-title {
    text-align: center;
    color: #151414;
    font-family: "Work Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plan-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.plan-info-title {
    color: #151414;
    text-align: center;
    font-family: "Work Sans";
   
    margin-top: 30px;
    font-weight: 700;
    margin-bottom: 0;
}

.plan-info-des {
    color: #737272;
    text-align: center;
    font-family: "Work Sans";
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}